// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

//
// Override Bootstrap here
//

// OWL Carousel
@import "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css";

//Bootstrap Icons
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css";

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: $black;
$body-bg: $white;
$border-radius: .4rem;

// @import "bootstrap/scss/root";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//Fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

// Colors
$white: #FFFFFF;
$black: #000000;
$text-color: #303030;
$primary-color: #404010;
$secondary-color: #232360;

// Custom styles

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

.chevron-down {
  color: $white;
  fill: $white;
  width: 50px;
  height: 50px;
}

.arrow-right-square-fill {
  margin-right: 20px;
  float: left;
  width: 50px;
  height: 50px;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: $black;
}

p {
  color: $text-color;
}

.header {
  object-fit: cover;
  background-color: black;
  color: white;
  height: 80vh;
  position: relative;
  .payoff {
    position: absolute;
    margin: 20vh auto 0;
    max-width: 50vh;
    h1 {
      font-size: 2.5rem;
      font-weight: 900;
      color: $white;  
    }
    p, a {
      color: $white;
    }
  }
}

.intro {
  margin: 15vh auto;
  scroll-margin: 50px 0 0 0;
}

.work {
  background: transparent linear-gradient(122deg, #7f252e 0%, #117a8b 100%) 0% 0% no-repeat padding-box;
  padding: 3rem 0;
  position: relative;
  z-index: 1;
  .img-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/bg_glass.jpg) center center;
    opacity: .1;
    width: 100%;
    height: 100%;
  }
  h2 {
    position: absolute;
    top: -5.5rem;
  }
  .item {
    div {
      position: relative;
      span {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1.25rem;
        padding: 5px 20px;
        color: $white;
        background: rgba(#C4C4C4, .5);
        font-weight: 700;
      }    
    }
    h3 {
      font-size: 1.40rem;
      font-weight: 400;
      margin-top: .5rem;
      color: $white;
    }
    p {
      margin-bottom: .5rem;      
      color: $white;
    }
  }
}

.owl-dots {
  display: none;
}
.owl-nav {
  position: relative;
}

button.owl-prev span, button.owl-next span {
  position: absolute;
  font-size: 3rem;
  color: $white;
  font-weight: 700;
  left: 0;
  top: -10px;
  opacity: .5;
}
button.owl-next span {
  right: 0;
  left: unset !important;
}

.contact {
  padding: 15vh 15px 5vh;
}

//Video
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  // right: 0;
  bottom: 0;
  // min-width: 100%;
  // min-height: 100%;
  width: 100%;
  object-fit: none;
}

/* Add some content at the bottom of the video/page */
.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

footer {
  padding-top: 2rem;
  border-top: .5px solid lightgrey;
  margin-bottom: 2rem;
  address {
    display: table-cell;
  }
  .menu {
    text-align: right;
    li {
      display: inline;
      list-style: none;
      margin-left: 2rem;
    } 
  }
}
