// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

//
// Override Bootstrap here
//

// img-lightbox
@import "https://cdn.jsdelivr.net/gh/englishextra/img-lightbox@latest/img-lightbox.min.css";

// OWL Carousel
@import "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css";

//Bootstrap Form Validator
// @import "https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css";

//Bootstrap Icons
// @import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css";

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: $black;
$body-bg: $white;
$border-radius: .4rem;

// @import "bootstrap/scss/root";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//Fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;900&display=swap");
@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

// Colors
$white: #FFFFFF;
$black: #000000;
$text-color: #212121;
$primary-color: #FFC400;
$secondary-color: #F98D00;

// Custom styles

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'GothamPro', 'Raleway', sans-serif;
  background: $white;
  color: $black;
  a {
    color: $secondary-color;
    &:hover {
      text-decoration: none;
      color: $primary-color;
    }
  }
}

.arrow {
  color: $white;
  fill: $white;
  width: 50px;
  height: 50px;
  font-size: 4rem;
  line-height: 3rem;
  transform: rotate(90deg);
  display: block;
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
    color: transparent;
  }
}
a.arrow {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
    color: transparent;
  }
}

.chevron-down {
  color: $white;
  fill: $white;
  width: 50px;
  height: 50px;
}

.arrow-right-square-fill {
  margin-right: 20px;
  float: left;
  width: 50px;
  height: 50px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: $black;
}

p {
  color: $text-color;
  font-weight: 100;
}

.font-weight-bold {
  font-weight: 400 !important;
}

section.navbar-section {
  top: 0;
}
nav.navbar {
  z-index: 2;
  padding: .5rem 0;
  margin: 0;
  width: 100%;
  position: fixed;
  transition: 0.5s;
  &.bg1 {
    background: transparent;
    height: auto;
    .logo {
      width: 150px;
      height: auto;
      float: left;
      transition: 0.5s;
    }
    a {
      color: $white;
    }
  }
  &.bg2 {
    background: rgba($black, .95);
    height: 60px;
    transition: 0.5s;
    .logo {
      width: 130px;
      transition: 0.5s;
    }
  }
  a.nav-link {
    margin-right: 2rem;
  }
}

.header {
  object-fit: cover;
  background-color: black;
  color: white;
  height: 100vh;
  position: relative;
  // top: 2rem;
  .payoff {
    position: absolute;
    margin-bottom: 5vh;
    bottom: 0;
    max-width: 90%;
    @media (min-width: 850px) {
      margin-bottom: 20vh;
      max-width: 50vh;
      max-width: 50vh;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 900;
      color: $white;  
    }
    p, a {
      color: $white;
    }
  }
}

.btn-primary {
  background: #17a2b8 linear-gradient(150deg, #F98D00, #FFC400) repeat-x;
  border: none;
  box-shadow: 0px 3px 10px #00000029;
  &:hover {
    background: #0f6875 linear-gradient(150deg, #F98D00, #FFC400) repeat-x;
    // border: none;
    // box-shadow: 3px 3px 10px #00000029;
  }
  &:focus, &:visited, &:active {
    background: #17a2b8 linear-gradient(150deg, #F98D00, #FFC400) repeat-x;
  }
}

.intro {
  padding: 15vh 0;
  position: relative;
  // scroll-margin: 7rem 0 0 0;
  li {
    color: $text-color;
    font-weight: 100;
  }
  .img-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/bg_intro_2.jpg) center center;
    opacity: .05;
    background-size: cover;
  }
}
.contact {
  padding: 0vh 15px;
  margin: 15vh auto 5vh;
  scroll-margin: 7rem 0 0 0;
}
.work {
  // margin: 15vh auto;
  scroll-margin: 9rem 0 0 0;
}

.work {
  background: transparent linear-gradient(122deg, #F98D00 0%, #FFC400 100%) 0% 0% no-repeat padding-box;
  padding: 3rem 0;
  position: relative;
  z-index: 1;
  .img-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/bg_glass.jpg) center center;
    opacity: .1;
    width: 100%;
    height: 100%;
  }
  h2 {
    position: absolute;
    top: -5.5rem;
  }
  .item {
    div {
      position: relative;
      span {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1.25rem;
        padding: 5px 20px;
        color: $white;
        background: rgba(#FB0000, .5);
        font-weight: 700;
      }    
    }
    h3 {
      font-size: 1.40rem;
      font-weight: 400;
      margin-top: .5rem;
      color: $black;
    }
    p {
      margin-bottom: .5rem;      
      color: $black;
      font-weight: 200;
    }
  }
}

.owl-dots {
  display: none;
}
.owl-nav {
  position: relative;
}

.img-lightbox-container img.animated, .img-lightbox-container.animated {
  z-index: 3;
}

button.owl-prev span, button.owl-next span {
  position: absolute;
  font-size: 3rem;
  color: $white;
  font-weight: 700;
  left: 0;
  top: -10px;
  opacity: .5;
}
button.owl-next span {
  right: 0;
  left: unset !important;
}

//Video
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  // right: 0;
  // bottom: 0;
  // min-width: 100%;
  // min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: none;
}

/* Add some content at the bottom of the video/page */
.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.form-control {
  font-weight: 100;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  &:focus {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
  }
}

footer {
  padding-top: 2rem;
  border-top: .5px solid lightgrey;
  margin-bottom: 2rem;
  .logo {
    width: 120px;
    height: auto;
    float: left;
  }
  .menu {
    text-align: right;
    li {
      display: inline;
      list-style: none;
      margin-left: 2rem;
    } 
  }
}

.error {
  background-color: $black;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  .logo {
    max-width: 200px;
  }
  p {
    color: $white;
    font-weight: 200;
  }
}

//Animations
.hidden {
  opacity: 0;
}

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade-in-element {
animation: fade-in 1.4s;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) ;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) ;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
